.map-section {
	position: relative;
	.anchor-element {
		position: absolute;
		top: -100px;
	}
	.close-map-btn {
		position: absolute;
		bottom: 50px;
		left: 20px;
		z-index: 1000;
		.btn-arrow {
			transform: rotate(180deg);
		}
	}
	.close-map-btn.map-not-active {
		transition: 1s all;
		transform: translateX(-300%);
	}
	.close-map-btn.map-active {
		transition: 1s all;
		transform: translateX(0%);
	}
	.map-wrapper {
		display: grid;
		grid-template-columns: 100% 100%;
		align-items: center;
		height: 600px;
		background-color: #1e222d;
		overflow: hidden;
		transition: grid-template-columns 1s;
		.map-overlap {
			display: none;
		}
	}
	.map-wrapper.map-active {
		.map-content {
			visibility: hidden;
			opacity: 0;
			transform: translateX(-110%);
		}
		.map-overlap {
			display: block;
			transform: translateX(-100%);
		}
	}
	.map-content {
		visibility: visible;
		opacity: 1;
		transform: translateX(0%);
		transition: transform 1s, visibility 1s, opacity 1s;
		background-color: #1e222d;
		.map-text {
			padding: 26px 0px;
			.map-content-header {
				font-size: 64px;
				font-weight: 700;
				line-height: 77px;
				letter-spacing: -0.06em;
				text-transform: uppercase;
				margin-bottom: 24px;
				text-align: center;
			}
			.map-content-wrapper {
				margin: 0px 300px;
				text-align: center;
				.subtitle {
					text-align: left;
				}
			}
			.subtitle {
				color: white;
				margin-bottom: 32px;
			}
			.big-header:nth-child(2) {
				margin-bottom: 24px;
			}
		}
	}
	.map-overlap {
		filter: grayscale(100%);
		height: 100%;
		width: 100%;
		transform: translateX(100%);
		transition: all 1s;
		.map {
			width: 100%;
			height: 100%;
		}
		&:hover {
			filter: grayscale(0%);
		}
	}
	.mobile-button {
		display: none;
	}
}

// ---------------------- Adaptive ----------------------

@media (max-width: 1300px) {
	.map-section {
		.map-content {
			.map-text {
				.map-content-wrapper {
					margin: 0px 100px;
				}
			}
		}
	}
}

// ------------- Tablet -------------
@media (max-width: 992px) {
	.map-section {
		.map-overlap {
			transition: none;
		}
		.map-content {
			.map-text {
				.map-content-wrapper {
					margin: 0px 0px;
				}
			}
		}
		.map-wrapper {
			height: 500px;
		}
	}
}

// ------------- Mobile -------------
@media (max-width: 576px) {
	.map-section {
		.map-wrapper {
			height: auto;
		}
		.map-content {
			.map-text {
				.map-content-header {
					font-size: 24px;
					font-weight: 700;
					line-height: 28.8px;
					letter-spacing: -0.06em;
				}
				.map-content-wrapper {
					.show-map-btn {
						width: 100%;
					}
				}
			}
		}
	}
}

// ------------- Small Mobile -------------
@media (max-width: 400px) {
	.map-section {
		.map-content {
			.map-text {
				.map-content-wrapper {
					.show-map-btn {
						display: none;
					}
				}
			}
		}
		.mobile-button {
			display: block;
			> a {
				> button {
					width: 100%;
				}
			}
		}
	}
}
