.page-title-wrapper {
	height: 1000px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	.page-title-bg {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: #00000066;
	}
	.page-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
		font-size: 160px;
		font-weight: 700;
		line-height: 195px;
		z-index: 10;
	}
	.page-title-link {
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		text-decoration: none;
		color: white;
		width: fit-content;
		.page-link-row {
			align-items: center;
			justify-content: center;
			gap: 8px;
			margin-top: 24px;
		}
		.arrow-img {
			background-image: url(../../assets/small-arrow-right.svg);
			background-position: center;
			background-repeat: no-repeat;
			width: 24px;
			height: 24px;
			transform: rotate(180deg);
		}
	}
}

.post-page {
	.page-title-wrapper {
		.page-title {
			font-size: 64px;
			line-height: 78px;
			max-width: 1000px;
		}
	}
}
